#DJANGO
SECRET_KEY=<YOUR_SECRET_KEY>
DJANGO_SETTINGS_MODULE=<PACAGE.MODULE>

#DB
POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=<db_port>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>

#SMTP
EMAIL_HOST_USER=<YOUR_EMAIL>
EMAIL_HOST_PASSWORD=<YOUR_SMTP_HOST_PASSWORD>
