# IDE
.idea/
.vscode/
*.iml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
venv/

# OS files
.DS_Store

# Testing
.pytest_cache/

# Database
db.sqlite3

# Static files collected
/staticfiles/

# JSON (тільки якщо не потрібні в репозиторії)
*.json
